body{
  background-color: rgb(90, 87, 87);
  background-image: url("https://img-tlctv1.mncdn.com/upload/files/articles/4bda1439-e011-4ba5-97f8-31f32c72baf0.jpg");
  background-position: center;
  background-size: cover;
}

.social-buttons-container {
  position: fixed;
  top: 63%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  font-size: 25px;
}
.za{
  color: rgb(221, 215, 17);
}